{{>navbar user=this.session}}
<div class="contenedorProduct">
    <div class="d-flex justify-content-center flex-wrap gap-4 p-0">
        {{#each this.products}}
        <div class="card" style="width: 18rem;">
            <img src={{this.id_product.thumbnails.[0]}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{this.id_product.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.id_product.category}}</h6>
                <p class="card-text"> <strong>Stock: </strong>{{this.id_product.stock}}</p>
                <p class="card-text"> <strong>Cantididad: </strong>{{this.quantity}}</p>
                <h6 class="text-info font-weight-bold mb-2">${{this.id_product.price}}</h6>
                <button onclick="borrarCartProduct_Click('{{this.id_product._id}}')" class="deleteProduct_button"><i class="bi bi-trash"></i></button>
            </div>
        </div>
        {{/each}}
    </div>
    <button type="button" class="btn btn-primary btn-sm" onclick="purchaseCart_Click()">Comprar</button>
</div>