{{!-- <div class="userInfo">
    <p>Bienvenido {{this.session.first_name}} {{this.session.last_name}}</p>
    <button class="btn btn-primary btn-sm" onclick="location.href='/api/sessions/logout'"> Cerrar sesión</button>
    <button class="btn btn-primary btn-sm" onclick='goToCart_Click()'> Carrito</button>
</div> --}}
{{>navbar user=this.session}}
<div class="contenedorProduct">
    <div class="d-flex justify-content-center flex-wrap gap-4 p-0">
        {{#each this.result.payload}}
        <div class="card" style="width: 18rem;">
            <img src={{this.thumbnails.[0]}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> {{this.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.category}}</h6>
                <p class="card-text"> <strong>Stock: </strong>{{this.stock}}</p>
                <h6 class="text-info font-weight-bold mb-2">${{this.price}}</h6>
                <button type="button" class="btn btn-primary btn-sm" onclick="addToCart_Click(this)"
                    id={{this._id}}>Añadir al carrito</button>
            </div>
        </div>
        {{/each}}
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {{#if this.result.hasPrevPage}}
            <li class="page-item">
                <a class="page-link" href={{this.result.prevLink}} aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href={{this.result.prevLink}}>{{this.result.prevPage}}</a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}
            <li class="page-item active"><a class="page-link" href="">{{this.result.page}}</a></li>

            {{#if this.result.hasNextPage}}
            <li class="page-item"><a class="page-link" href={{this.result.nextLink}}>{{this.result.nextPage}}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href={{this.result.nextLink}} aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link disabled" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>